#q-app {
  height: 100%;
  font-size: 1em;
}

.tempo-skew {
  transform: skew(-5deg);
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  font-weight: 500;
}

.body--light {
  background: #ffffff;
}

.body--dark {
  background: #282828;
}

/* Global Quasar overrides */

/* The input field underline color in dark mode */
.q-field--dark .q-field__control::before {
  border-color: #424242 !important
}

/* Border color for QCard in dark mode*/
.body--dark .q-card--bordered {
  border-color: #424242
}

/* Font color in dark mode */
.body--dark .q-dark,
.body--dark .q-list--dark,
.body--dark .q-item--dark {
  color: #d6d6d6;
}
